<%= stylesheet_link_tag "me" %>

<h2>Tina Zheng</h2>
<%= image_tag("me.jpg", width: "400") %><br />
<div class="bg-green text-white width-sm">
	Arcadia, CA
</div>
<div>
	Sophomore
</div>
<div class="text-bold text-red">
	Fun fact: My hair grows so quickly that I have to cut it every month
</div>
<div class="text-underlined text-purple">
	I am most excited to build a full rails application from scratch :D
</div>